#container{
	text-align: center;
}
img{
	width: 100%;
	height: 100%;
}
#carousel {
		width: 480px;
		overflow:hidden;
		margin-left: 30%;
	}

	#carousel ul {
		width: 1920px;
		padding: 0;
		margin: 0;
	}

	#carousel ul li {
		width:480px;
		text-align: center;
		height: 280px;
		list-style: none;
		float:	left;
	}