@font-face {
    font-family: gothicFont;
    src: url("../fonts/CloisterBlack.ttf");
}
table,td {
	border: 2px solid black;
	border-collapse: collapse;
}
img {
	width: 25%;
	float: left;
	opacity: 0.6;
	padding: 10px;
}
img:hover {
	opacity: 1.0;
}
.text{
	float: left;
	font-family: gothicFont;
	width: 69%;
}