body{
	background-color: #ccffff;
}

#container{
	width: 80%;
	padding-left: 7%;
}
#blueBox{
	display: inline-block;
	height: 200px;
	width: 600px;
	background-color: #80ffff;
}

#purpleBox{
	display: inline-block;
	margin-left: 5%;
	height: 200px;
	width: 300px;
	background-color: #ff4dd2;
}