*{
	margin: 0;
	padding: 0;
}
nav {
	border-top: 2px solid #ffad33;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    float: right;
}

li {
	float: left;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 34px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffad33;
    color: white;
}

small {
	padding:-10px;
}

#title{
	padding: 22px;
	display: inline;
	float: left;
	color: gray;
}

#logo {
	width: 6%;
	float: left;
	display: inline-block;
}