#container{
	text-align: center;
}
.setBorder{
	border: 2px solid red;
}
img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   height: 400px;
   margin-top: -250px;
   margin-left: -200px;
}